<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到风格转换应用</title>
    <style type="text/css">
        @import "../static/css/home.css";
    </style>
    <script type="text/javascript" src="../static/js/home.js">
    </script>
</head>
<body>
    <div class="title">
        图像风格转换
    </div>
    <div class="div">
        <text class="text">
            选择图片风格：
        </text>
        <SELECT onChange="document.x1.src=options[selectedIndex].value">
            <option value="../images/example.jpg" selected>梵高的星空</option>
            <option value="../images/black.jpg">空白</option>
            <option value="../images/bg.jpg">野花绽放</option>
        </SELECT>
    </div>
    <div class="div" align="center">
        <img src="../images/example.jpg" class="image" name="x1">
    </div>
    <div>
        <div class="div1" align="right">
            <text >
            请上传图片：
            </text>
            <input type="file" id="file"  onchange="changepic(this)" accept="image/jpg,image/jpeg,image/png,image/PNG">
        </div>
        <div class="div1"  align="center">
            <button >
                图像转换
            </button>
        </div>
    </div>
</body>
</html>
